<!DOCTYPE html>
<html>
<head>
<title>{{ deployment_color }} Deploy</title>
<style>
    body {
        font-family: Tahoma, Verdana, Arial, sans-serif;
        background-color: #DDDDDD; 
        text-align: left;    
        padding: 5px;
    }
    .text {
        padding: 5px;
        text-align: left;
        float: left;
    }
    p {
        clear: both;
    }

</style>
</head>
<body>
<div class="text"><h1>Python/Redis Demo App - Health Check</h1></div>
<p>
<div class="text">I am healthy</div>
</body>
